#sectionProductTable{
    border-bottom: 1px solid #cecece;
}
.content .section {

    border-bottom: 1px solid #cecece;

}

.section--medium {
    padding: 50px 120px;
}
.section {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 -20px;
}

.bgOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.bg-image-1 {
    background: url(https://cdn.statcdn.com/static/img/accountOverview2015/light_bg.jpg) 0 100% no-repeat;
}
.section--secondary, .section__content {
    position: relative;
    z-index: 3;
}
.padding-bottom-50 {
    padding-bottom: 50px !important;
}
.text-color--gray {
    color: #888 !important;
}
.tableWrapper {
    position: relative;
    margin: 15px auto;
}
.tableColumnShadow {
    position: absolute;
    top: -23px;
    right: 0;
    height: calc(100% + 23px);
    margin-right: -1px;
    z-index: 3;
    border-radius: 3px 3px 0 0;
    pointer-events: none;
    -webkit-box-shadow: -3px 1px 3px 0 #dedede,3px 1px 3px 0 #dedede;
    box-shadow: -3px 1px 3px 0 #dedede,3px 1px 3px 0 #dedede;
}
.table--products {
    margin: 0;
    text-align: center;
}
.table {
    width: 100%;
    border: 0 none;
    padding: 0;
    margin: 15px auto;
    border-collapse: collapse;
}
.table--products .table__head .table__tr:nth-child(2) > * {
    border-top: 0;
}
.table--products .table__th {
    text-align: center;
    vertical-align: middle;
}
.table--products .table__td, .table--products .table__th {
    position: relative;
    border: 1px solid #e6e6e6;
/*        border-top-color: rgb(230, 230, 230);
        border-top-style: solid;
        border-top-width: 1px;*/
    /*padding: 10px 10px 10px 15px;*/
    background-clip: padding-box;
}
.table__th {
    font-weight: 700;
    /*text-align: left;*/
    background-color: #fff;
    /*border-bottom: 1px solid #cecece;*/
}
.padding-all-20 {
    padding-top: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
}
.table--products {
    text-align: center;
}
.table--products .table__body .table__tr > :first-child {
    text-align: left;
    font-size: .9rem;
}
.table--products .table__td--icon, .table__td--icon {
    padding-left: 50px;
}
.table--products .table__th {
    /*text-align: center;*/
    vertical-align: middle;
}
.table--products .table__td, .table--products .table__th {
    position: relative;
    border: 1px solid #e6e6e6;
    padding: 10px 10px 10px 15px;
    background-clip: padding-box;
}
.table__td {
    vertical-align: middle;
    background-color: #fff;
    -webkit-transition: .3s background;
    -o-transition: .3s background;
    transition: .3s background;
}
.table__tr--height26 > * {
    height: 47px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.table--products .table__td--icon, .table__td--icon {
    padding-left: 50px;
}
.width100 {
    width: 100%;
}
.width0, .width10, .width100, .width15, .width20, .width25, .width30, .width33, .width35, .width40, .width45, .width5, .width50, .width55, .width60, .width65, .width66, .width70, .width75, .width80, .width85, .width90, .width95 {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    min-height: 1px;
}
.font-size-xs {
    font-size: .75rem;
}
.padding-top-30 {
    padding-top: 30px !important;
}
.iconSprite--statistic, .iconSprite--statisticBasis, .iconSprite--statisticFree, .search-statistic {
    width: 26px;
    height: 26px;
    background-image: url(https://cdn.statcdn.com/static/icons/products/product-icons.svg#statistic_icon);
}
.sprite, .sprite-img {
    background-image: url(https://cdn.statcdn.com/static/icons/sprite-201700.png);
}
.sprite {
    padding: 0 !important;
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
}

.h3, .hl-article, h3 {
    margin: 0;
        margin-bottom: 0px;
    padding: 0;
    line-height: 1.5em;
    font-weight: 400;
    font-size: 1.75rem;
}
.table__callOut {

    position: absolute;
    width: calc(100% + 2px);
    height: 23px;
    padding-top: 1px;
    top: -24px;
    left: -1px;
    background-color: #cf0000;
    color: #fff;
    font-size: .9rem;
    border-radius: 3px 3px 0 0;

}

.table--products .table__head .table__tr:first-child>* {
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: 0 none
}

.table--products .table__head .table__tr:first-child>:first-child {
    border-top: 0 none;
    border-left: 0 none;
    border-bottom: 1px solid #e6e6e6;
    background-color: transparent
}

.table--products .table__head .table__tr:nth-child(2)>* {
    border-top: 0
}

.table--products .table__head .table__tr .table__tdPrices {
    border-top: 1px solid #e6e6e6
}

.table--roundCorners thead .table__th {
    border-top: 0
}

.table--roundCorners thead .table__th:first-child {
    border-top-left-radius: 5px
}

.table--roundCorners thead .table__th:last-child {
    border-top-right-radius: 5px
}
.productTable__tr:last-child>.productTable__td,
.productTable__tr:last-child>.productTable__th {
    border-bottom: none
}

.productTable__td,
.productTable__th {
    width: calc((100% - 30%)/ 3);
    padding: 15px;
    vertical-align: middle;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc
}

.productTable__td:first-child,
.productTable__th:first-child {
    width: 30%
}

.productTable__td:last-child,
.productTable__th:last-child {
    border-right: none
}

.productTable__th {
    font-weight: 400
}

.productTable__th--headerRow {
    background-color: #f5f8fb;
    border-right: none;
    text-align: center;
    font-weight: 700
}

.productTable__th--headerRow:first-child {
    text-align: left;
    padding-left: 30px
}
.productTable__th--headerRow.productTable__td--highlight::before {
    left: calc((8px - 1px) * -1)
}

.productTable__th--headerRow.productTable__td--highlight::after {
    right: calc(8px * -1)
}